{{define "base"}}
<html>

<head>

    <!-- particles.js container -->
    <div id="particles-js"></div>
    <!-- stats - count particles -->

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="assets/css/bootstrap-material-design.min.css" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/main.css" />
    <title>Issa Vibe</title>
</head>

<body>
    <h1>HELLO WORLD</h1>
    <div class="main">
        <div class="row">
            <div class="col-1 col-md-2 col-lg-4"></div>
            <div class="col-10 col-md-8 col-lg-4 ht-70">
                <div class="card border-primary mb-3 ht-70">
                    <!--Title-->
                    <h3 class="card-header text-white bg-orange  text-center py-4">Issa Vibe</h3>
                    <!--Card content-->
                    <div class="card-body">
                        {{template "body" .}}
                    </div>
                </div>
                <div class="col-1 col-md-2 col-lg-4"></div>
            </div>
        </div>

        <footer>
            <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
            <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
            <!-- stats.js lib -->
            <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
            <script src="assets/js/main.js "></script>
</body>


</footer>

</html>
{{end}}