{{define "body"}}
<form class="text-center border border-light p-5" method="POST" action="/">
    <div class="form-group">
        <label for="genre" class="bmd-label-floating">Choose a genre</label>
        <select class="form-control" id="genre" name="genre">
            <option></option>
            <option>Punk</option>
            <option>Jazz</option>
            <option>Hip Hop</option>
            <option>Pop</option>
            <option>Rock</option>
            <option>Blues</option>
            <option>Folk</option>
            <option>Indie</option>
        </select>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <button type="submit" class="btn  btn-primary btn-lg col-12">Submit</button>
        </div>
    </div>
</form>
{{end}}